@use "mixins" as *;
@use "variables" as *;

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
}

.info-card {
  @include card;
  border-left: 0.4rem solid #dadada;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  h3 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }

  p {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
    font-size: 1.6rem;

    span {
      color: $muted;
    }
  }
}
