@use "mixins" as *;
@use "variables" as *;

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
}

.info-card {
  @include card;
  border-left: 0.4rem solid #dadada;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  // background-color: #c0c0c0;
  background-color: #2b3377;

  h3 {
    // color: #333;
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }

  p {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
    font-size: 1.6rem;

    span {
      // color: $muted;
      color: #fff;
    }
  }

  .uuid {
    gap: 8rem;
  }

  a {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.info-card:hover {
    scale: 1.02;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}



.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}