@media (max-width: 480px) {
  html {
    font-size: 53%;
  }

  .pagination {
    gap: 6px;

    .page-btn {
      min-width: 3.4rem;
      height: 3.4rem;
      font-size: 1.3rem;
      padding: 0 1rem;
    }
  }

  .profile-header {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
}

@media (max-width: 1159px) {
  .info-header {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
}

@media (max-width: 1102px) {
  .info-header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

@media (max-width: 1055px) {
  .info-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}

@media (max-width: 573px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
}
