@use "mixins" as *;
@use "variables" as *;

.profile-header {
  @include card;
  background-image: url(../imgs/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: #808080;
  color: #fff;
  display: flex;
  gap: 8rem;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .avatar {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 0.2rem solid #fff;
  }

  h1 {
    color: #fff;
    font-size: 2.4rem;
    margin: 0 0 0.8rem;
  }

  p {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0.4rem 0;
    font-size: 1.4rem;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 3rem;
  }
}

.info-header {
  display: flex;
  gap: 8rem;
  align-items: center;
}

.info-user {
  font-weight: 600;
}

.icon {
  height: 2rem;
  width: 2rem;
}
