@use "mixins" as *;
@use "variables" as *;

.profile-header {
  @include card;
  background: $primary;
  color: #333;
  display: flex;
  gap: 2rem;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .avatar {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 0.2rem solid #fff;
  }

  h1 {
    font-size: 2.4rem;
    margin: 0 0 0.8rem;
  }

  p {
    margin: 0.4rem 0;
    font-size: 1.4rem;
  }
}
